<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/styles/image.png">
    <title>Janmesh_Portfolio</title>
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/experience.css">
    <link rel="stylesheet" href="/css/projects.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
    </style>
</head>

<body>
    <%- include('partials/navbar') %>
        <%- include('partials/home') %>
            <%- include('partials/profile') %>
                <%- include('partials/projects') %>
                    <%- include('partials/experience') %>
                        <%- include('partials/contact') %>

                            <script src="/js/heading.js"></script>
                            <script src="/js/script.js"></script>

                            <script>
                                function updateActiveLink(entries, observer) {
                                    entries.forEach(entry => {
                                        const link = document.querySelector(`a.nava[href="#${entry.target.id}"]`);
                                        if (entry.isIntersecting) {
                                            link.classList.add('active');
                                        } else {
                                            link.classList.remove('active');
                                        }
                                    });
                                }
                                const observer = new IntersectionObserver(updateActiveLink, {
                                    root: null,
                                    threshold: 0.5
                                });

                                const sections = document.querySelectorAll('.section');
                                sections.forEach(section => observer.observe(section));
                            </script>

                            <style>
                                .nava.active {
                                    text-decoration: underline #4a2a2a;
                                    font-weight: bold;
                                }
                                
                                .section {
                                    height: 100vh;
                                    padding: 20px;
                                }
                            </style>
</body>

</html>